<launch> 
  <node pkg="arobota2" type="assign_centroid_search.py" name="search" output="screen" />
  <node pkg="arobota2" type="centroid_multi_submit.py" name="submit" output="screen" />
  <node pkg="arobota2" type="assign_path_to_robot_1_2.py" name="path1" output="screen" />
  <node pkg="arobota2" type="assign_path_to_robot_2_2.py" name="path2" output="screen" />
  <node pkg="arobota2" type="assign_path_to_robot_3_2.py" name="path3" output="screen" />
</launch>
