<launch> 
  <arg name="node_start_delay" default="1"/>
  <arg name="node_start_delay1" default="2"/>

  <node pkg="arobota2" type="assign_centroid_search.py" name="search" output="screen" />
  <node pkg="arobota2" type="centroid_multi_submit.py" name="submit" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@'" />
  <node pkg="arobota2" type="assign_path_to_robot_1_3.py" name="path1" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay1); $0 $@'" />
  <node pkg="arobota2" type="assign_path_to_robot_2_3.py" name="path2" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay1); $0 $@'" />
  <node pkg="arobota2" type="assign_path_to_robot_3_3.py" name="path3" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay1); $0 $@'" />
</launch>
