<launch>
  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="worldname" default= "$(find arobota2)/world/my_first_world.world"/>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name= "world_name" value="$(arg worldname)"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro $(find urdf_description)/urdf/urdf.xacro"/>" />

  <!-- push robot_description to factory ssand spawn robot in gazebo -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
        args="-z 0 -unpause -urdf -model robot -param robot_description" respawn="false" output="screen" />

  <node pkg="joint_state_publisher" type="joint_state_publisher"  name="joint_state_publisher"/>
  <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher"/>
  <!--node pkg="tf" type="static_transform_publisher" name="tf_wolrdmap_robot" args="0 0 0 0 0 0 world map 100" /!--> 
    <!--node pkg="tf" type="static_transform_publisher" name="tf_mapbaselink_robot" args="0 0 0 0 0 0 map base_link 100" /!--> 
        <node pkg="tf" type="static_transform_publisher" name="tf_mapbasefoot" args="0 0 0 0 0 0 base_footprint world 100"/> 


  <node pkg="arobota2" type="Joystickteleop.py" name="Joystick_input" output="screen"/>
  <node name="joy" pkg="joy" type="joy_node" output="screen"/> 
  
</launch>
