<launch>
  <arg name="scan_topic" value="scan" />

  <include file="$(find rplidar_ros)/launch/rplidar_s1.launch"/>
  <include file="$(find arobota2)/launch/includes/robot_remote.launch"/>
  <!-- <node pkg="arobota2" type="Diff_tf.py" name="Diff_tf" output="screen"/> -->
  <include file="$(find hector_slam_launch)/launch/tutorial.launch"/>

  <node pkg="arobota2" type="Publish_STM.py" name="STM_Pub" output="screen"/>
  <node pkg="arobota2" type="Cmdveltf.py" name="Vel_tf" output="screen"/>


  <!-- <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0.7071 0.7071 parent_frame_id child_frame_id 100" /> -->

  <!-- <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <param name="base_frame" value="base_footprint"/>
    <param name="odom_frame" value="odom"/>
    <param name="map_update_interval" value="5.0"/>
    <param name="maxUrange" value="6.0"/>
    <param name="maxRange" value="8.0"/>
    <param name="sigma" value="0.05"/>
    <param name="kernelSize" value="1"/>
    <param name="lstep" value="0.05"/>
    <param name="astep" value="0.05"/>
    <param name="iterations" value="5"/>
    <param name="lsigma" value="0.075"/>
    <param name="ogain" value="3.0"/>
    <param name="lskip" value="0"/>
    <param name="srr" value="0.01"/>
    <param name="srt" value="0.02"/>
    <param name="str" value="0.01"/>
    <param name="stt" value="0.02"/>
    <param name="linearUpdate" value="0.5"/>
    <param name="angularUpdate" value="0.436"/>
    <param name="temporalUpdate" value="-1.0"/>
    <param name="resampleThreshold" value="0.5"/>
    <param name="particles" value="80"/>
    <param name="xmin" value="-1.0"/>
    <param name="ymin" value="-1.0"/>
    <param name="xmax" value="1.0"/>
    <param name="ymax" value="1.0"/> -->

    <!-- Increase resolution -->
    <!-- <param name="delta" value="0.01"/>
    <param name="llsamplerange" value="0.01"/>
    <param name="llsamplestep" value="0.01"/>
    <param name="lasamplerange" value="0.005"/>
    <param name="lasamplestep" value="0.005"/>
    <remap from="scan" to="$(arg scan_topic)"/>
  </node> -->

  <!-- <include file="$(find arobota2)/launch/includes/movebase.launch"/> -->
  <!-- <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find arobota2)/rviz/mapping.rviz"/> -->
  <!-- <include file="$(find arobota2)/launch/n_gmapping.launch.xml"/> -->
  <!-- rosrun map_server map_saver -f ~/test_map -->
</launch>
