<launch>  
  <!-- Nodes -->
  <node pkg="arobota2" type="omni_odom_tf.py" name="omni_odom" output="screen"/>
<!-- Joystick-->
  <node pkg="arobota2" type="Joystickteleop.py" name="Joystick_input" output="screen"/>
  <node name="joy" pkg="joy" type="joy_node" output="screen"/> 

  <!-- Robot state -->
  <include file="$(find arobota2)/launch/robot_remote.launch"/>
  
  <!-- Map server -->
  <arg name="map_file" default="$(find arobota2)/map/mymap5.yaml"/>
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find arobota2)/launch/amcl_omni.launch"/>

  <!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find arobota2)/rviz/navigation.rviz"/>

  <!-- service -->
  <node pkg="rosservice" type="rosservice" name="global_loc" arg="call /global_localization"/>
</launch>
