<launch>
  <!-- No namespace here as we will share this description. 
       Access with slash at the beginning -->
  <param name="robot_description" command="$(find xacro)/xacro $(find urdf_description)/urdf/urdf.xacro"/>

  <!-- BEGIN ROBOT 1-->
  <group ns="robot1">
    <param name="tf_prefix" value="robot1_tf" />
    <include file="$(find arobota2)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x 0.4 -y 0.4 -z 0" />
      <arg name="robot_name"  value="ROBOT1" />
    </include>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
      <param name="publish_frequency" type="double" value="30.0" />
    </node>
    <!-- <node pkg="tf" type="static_transform_publisher" name="static_amcl" args="0 0 0 0 0 0 map robot1_tf/odom 100" /> -->
  </group>

  <!-- BEGIN ROBOT 2-->
  <group ns="robot2">
    <param name="tf_prefix" value="robot2_tf" />
    <include file="$(find arobota2)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x -0.4 -y 0.4 -z 0" />
      <arg name="robot_name"  value="ROBOT2" />
    </include>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
    </node>
    <!-- <node pkg="tf" type="static_transform_publisher" name="static_amcl" args="0 0 0 0 0 0 map robot2_tf/odom 100" /> -->
  </group>

  <!-- BEGIN ROBOT 3-->
  <group ns="robot3">
    <param name="tf_prefix" value="robot3_tf" />
    <include file="$(find arobota2)/launch/one_robot.launch" >
      <arg name="init_pose" value="-x -0 -y 0 -z 0" />
      <arg name="robot_name"  value="ROBOT3" />
    </include>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
    </node>
    <!-- <node pkg="tf" type="static_transform_publisher" name="static_amcl" args="0 0 0 0 0 0 map robot3_tf/odom  100" /> -->
  </group>

</launch>