<launch> 
 <param name="/use_sim_time" value="true"/>
  <!-- Map server -->
    <node pkg="map_server" name="map_server" type="map_server" args="$(find arobota2)/map/mymap5.yaml">
    <param name="frame_id" value="map" />
    </node>

    <include file="$(find arobota2)/launch/amcl_gazebo_multi_1.launch"/> 
    <include file="$(find arobota2)/launch/amcl_gazebo_multi_2.launch"/> 
    <include file="$(find arobota2)/launch/amcl_gazebo_multi_3.launch"/>
    <include file="$(find arobota2)/launch/movebase_gazebo_1.launch"/> 
    <include file="$(find arobota2)/launch/movebase_gazebo_2.launch"/> 
    <include file="$(find arobota2)/launch/movebase_gazebo_3.launch"/> 

  <!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find arobota2)/rviz/navigation_multi_new.rviz"/>

  <!--initialize localization-->
  <node pkg="rosservice" type="rosservice" name="global_loc" args="call --wait /global_localization" />

  <node pkg="arobota2" type="initialize_position.py" name="initialize_localize" output="screen"/>
</launch>