<launch>
  <machine name="central" address="192.168.31.5" env-loader="/home/cps/catkin_ws/devel/env.sh" user="cps" password="gusman17"/>
  <machine name="robot1" address="192.168.31.80" env-loader="/home/ubuntu/catkin_ws/devel/env.sh" user="ubuntu" password="gusman17"/>
  <!-- <machine name="robot2" address="192.168.31.149" env-loader="/home/ubuntu/catkin_ws/devel/env.sh" user="ubuntu" password="gusman17"/>
  <machine name="robot3" address="192.168.31.193" env-loader="/home/ubuntu/catkin_ws/devel/env.sh" user="ubuntu" password="gusman17"/> -->
  <param name="serial_port"         type="string" value="/dev/ttyUSB_DEVICE1"/>
  <param name="serial_baudrate"     type="int"    value="115200"/><!--A1/A2 -->
  <param name="frame_id"            type="string" value="laser"/>
  <param name="inverted"            type="bool"   value="false"/>
  <param name="angle_compensate"    type="bool"   value="true"/>

<!-- <node name="joy" pkg="joy" type="joy_node" output="screen"/> -->
  
  <group ns="robot1">
      <node machine="robot1" pkg="arobota2" type="recieve_STM_omni.py" name="STM_Sub" output="screen"/>
      <node machine= "robot1" pkg="arobota2" type="publish_STM_omni.py" name="STM_Pub" output="screen"/>
      <node machine="robot1" name="rplidarNode" pkg="rplidar_ros"  type="rplidarNode" output="screen"/>

      <!-- <include file="$(find arobota2)/launch/camera.launch"> 
        <param name="robot_name" value="robot1" type="string">
      </include> -->
      <!-- <include file="$(find arobota2)/launch/rplidar_multi.launch">
        <param name="robot_name" value="robot1" type="string"/>
      </include> -->

  </group>

  
  <!-- <group ns="robot2">
      <node machine="robot2" pkg="arobota2" type="recieve_STM_omni.py" name="STM_Sub" output="screen"/>
      <node machine= "robot2" pkg="arobota2" type="publish_STM_omni.py" name="STM_Pub" output="screen"/>
      <node machine="robot2" name="rplidarNode" pkg="rplidar_ros"  type="rplidarNode" output="screen"/> -->
      <!-- <include file="$(find arobota2)/launch/camera.launch"> 
        <param name="robot_name" value="robot1" type="string">
      </include> -->
      <!-- <include file="$(find arobota2)/launch/rplidar_multi.launch">
        <param name="robot_name" value="robot2" type="string"/>
      </include> -->
  <!-- </group>

  <group ns="robot3">
      <node machine="robot3" pkg="arobota2" type="recieve_STM_omni.py" name="STM_Sub" output="screen"/>
      <node machine= "robot3" pkg="arobota2" type="publish_STM_omni.py" name="STM_Pub" output="screen"/>
      <node machine="robot3" name="rplidarNode" pkg="rplidar_ros"  type="rplidarNode" output="screen"/> -->
      <!-- <include file="$(find arobota2)/launch/camera.launch"> 
        <param name="robot_name" value="robot1" type="string">
      </include> -->
      <!-- <include file="$(find arobota2)/launch/rplidar_multi.launch">
        <param name="robot_name" value="robot3" type="string"/>
      </include> -->
  <!-- </group> -->
</launch>
