<launch>
 <arg name="node_start_delay" default="10"/>

  <!-- Nodes -->
  <node pkg="arobota2" type="omni_odom_tf.py" name="Omni_tf" output="screen"/>
  <node pkg="arobota2" type="omni_cmdveltf.py" name="cmd_vel_tf" output="screen"/>

  <!-- Robot state -->
  <include file="$(find arobota2)/launch/robot_remote.launch"/>

  <!-- Map server -->
  <arg name="map_file" default="$(find arobota2)/map/mymap5_1.yaml"/>
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find arobota2)/launch/amcl_omni.launch"/>

  <!-- move_base -->
  <include file="$(find arobota2)/launch/movebase.launch"/>

  <!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find arobota2)/rviz/navigation_new.rviz"/>
  <node pkg="rosservice" type="rosservice" name="global_loc" args="call --wait /global_localization" />
  <node pkg="arobota2" type="initialize_position_auto.py" name="initialize_localize" output="screen" />
  <!-- <node pkg="arobota2" type="assign_centroid_search_single.py" name="search" output="screen" /> -->
  <!-- <node pkg="arobota2" type="camera_color_ros.py" name="camera_detection" output="screen" /> -->
  <node pkg="arobota2" type="camera_color_ros_with_publish.py" name="camera_detection" output="screen" />
  <node pkg="arobota2" type="cancel_goal_move_to_ball.py" name="cancel_goal" output="screen" />


  <!-- <node name="image_view" pkg="image_view" type="image_view" respawn="true" output="screen">
    <remap from="image" to="/usb_cam/image"/>
    <param name="autosize" value="true" />
  </node> -->
  <!-- <node name="assign" pkg="arobota2" type="assign_path_to_robot_copy.py" output= "screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@'"/> -->


  <!--add joystick -->
  <!-- <node pkg="arobota2" type="Joystickteleop.py" name="Joystick_input" output="screen"/>
    <node name="joy" pkg="joy" type="joy_node" output="screen"/>  -->
</launch>
