<launch> 
 <param name="/use_sim_time" value="true"/>
 <arg name="node_start_delay" default="4"/>
 <arg name="node_start_delay1" default="8"/>
 
  <!-- Map server -->
    <node pkg="map_server" name="map_server" type="map_server" args="$(find arobota2)/map/mymap5.yaml">
    <param name="frame_id" value="map" />
    </node>

    <include file="$(find arobota2)/launch/navigation_gazebo_multi_1.launch"/> 
    <include file="$(find arobota2)/launch/navigation_gazebo_multi_2.launch"/>
    <include file="$(find arobota2)/launch/navigation_gazebo_multi_3.launch"/>  

  <!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find arobota2)/rviz/navigation_multi_new4.rviz"/>

  <!--initialize localization-->
  <node pkg="arobota2" type="initialize_position.py" name="initialize_localize" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@'"/>
  <!-- <node pkg="arobota2" type="ensure_goal_pos.py" name="ensure_command" output="screen" /> -->
  <node pkg="arobota2" type="pose_collector_array.py" name="pose_collector" output="screen" />
  <node pkg="arobota2" type="centroid.py" respawn="false" name="centroid" output="screen"/>
  <include file="$(find arobota2)/launch/init_formation.launch"/> 

</launch>